*{
    margin:0px;
    padding: 0px;
}


.btn{
   padding: -50px;
   margin: -50px;

}
.dis{
    font-size: larger;
    margin-top: 10px;
    font-weight: 800 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sp{
    margin-left: 10px;
    font-size: large;
    color:blue ;
    font-weight: 600 ;
}
.score{
    font-size: x-large ;
    color:red;
    font-weight: 600  ;
}
